
<!DOCTYPE html>
<html style="background-image:url('{{url_for("static",filename="images/hd_g.jpg")}}');background-repeat: no-repeat; background-size: cover;opacity:0.8;"> 
<!-- <html background=‪"login_img.jpg"> -->
<head>
	<title>SPY</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="css/text" href="fwcss.css">
	<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <style>	
		.blue-dot{color:blue;}
        .white-dot{color:white;}
		.bold{font-style:normal;font-weight:600;}
		.call_center{text-align:center;}
        .pass_show{position: relative} 
        .pass_show .ptxt { 
        position: absolute; 
        top: 50%; 
        right: 10px; 
        z-index: 1; 
        color: #f36c01; 
        margin-top: -10px; 
        cursor: pointer; 
        transition: .3s ease all; 
        } 
        .pass_show .ptxt:hover{color: #333333;} 
	
    </style>
</head>

<body onload="init();">
 <nav class="navbar navbar-default" >
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand active" style="font-size: 25px;color: black;" href="#">SPY</a>
    </div>
    <form class="navbar-form navbar-right" method="POST" action="">
        <a class="navbar-brand active navbar-header" style="font-size: 22px;color: black;" href="javascript:login()">SIGN IN</a>
	<a>&nbsp;&nbsp;&nbsp;</a>
	<a class="navbar-brand active navbar-header" style="font-size: 22px;color: black;" href="javascript:signin()">SIGN UP</a>
    </form>
  </div>
</nav>

<form name="" id="login_id" method="post" action="user_login">
        <br><br><br><br><br><br>
        <div class="container">
            <div class="col-sm-4 col-4"></div>
            <div class="col-sm-8 col-8">
            <div class="row" >
                    <div class="col-sm-5">
			<h1><center>SIGN IN</center></h1><br><br>
                        <label>User name</label>
                        <div class="form-group"> 
                            <input type="text" class="form-control" placeholder="User name" name="username"> 
                        </div> 
                           <label>Password</label>
                        <div class="form-group pass_show"> 
                            <input type="password" class="form-control" placeholder="Password" name="password"> 
                        </div> 
                        <div class="form-group"> 
                            <center><button type="submit" class="btn btn-dark"><b>Sign in</b></button></center>
                        </div>
                    </div>  
                </div>
        </div>
        </div>
</form>

<form id="signin_id" method="post" name="signup" action="user_registration">
        <br><br><br><br>
        <div class="container">
            <div class="col-sm-4 col-4"></div>
            <div class="col-sm-8 col-8">
                    <div class="row">
                            <div class="col-sm-5">
				<h1><center>SIGN UP</center></h1><br><br>
                                <label>User name</label>
                                <div class="form-group"> 
                                    <input type="text" class="form-control" placeholder="User name" name="username" required> 
                                </div> 
                                   <label>Password</label>
                                <div class="form-group pass_show"> 
                                    <input type="password" class="form-control" placeholder="Password" name="password" required> 
                                </div>  
                                <label>Confirm Password</label>
                                <div class="form-group pass_show"> 
                                    <input type="password" class="form-control" placeholder="Confirm Password" required> 
                                </div>
				<label>Phone Number</label>
                                <div class="form-group pass_show"> 
                                    <input type="text" class="form-control" placeholder="Phone Number" name="phone_no" required> 
                                </div>
                                <label>Address</label>
                                <div class="form-group"> 
                                    <textarea rows="5" class="form-control" placeholder="Address" name="address" required></textarea> 
                                </div>
                                <div class="form-group"> 
                                    <center><button type="submit" class="btn btn-dark"><b>Sign Up</b></button></center>
                                </div>
                            </div>  
                        </div>
            </div>
        </div>
</form>
</body>      
<script>
    function init()
    {
        var x=document.getElementById("login_id");
        x.style.display="none";
        var x=document.getElementById("signin_id");
        x.style.display="none";
    }
    function login()
    {
	var y=document.getElementById("signin_id");
	y.style.display="none";
        var x=document.getElementById("login_id");
        x.style.display="block";
    }
    function signin()
    {
	var y=document.getElementById("login_id");
	y.style.display="none";
        var x=document.getElementById("signin_id");
        x.style.display="block";
    }
</script>
</html>
